.title {text-align: center; font-weight: bold; color:  #4F4F4F; font-size: 16px;}
.name {text-align: center;font-weight: bold; color: #808080;font-size: 12px;}
.capital {text-align: center;font-weight: bold; color: #808080;font-size: 12px;}
.area {text-align: center;font-weight: bold; color: #808080;font-size: 12px;}
.courrencies {text-align: center;font-weight: bold; color: #808080;font-size: 12px;}